/* 
*************************Grand Ecrans */ 

/***********************************NAVBAR**************************/

    h1
    {
        font-size: 2vw;
    }

/***********************************FOOTER**************************/
    footer
    {
        font-size: 1vw;
    }
    .bloc:nth-child(1), .bloc:nth-child(2), .bloc:nth-child(3), .bloc:nth-child(4)
    {
        align-items: center;
    }

/***********************************FOOTER**************************/